[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/ComfyUI"]
	path = third_party/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI
